<section class="register__container">
    <h1>New Rifa party</h1>
    <%= render "form.html", Map.put(assigns, :action, Routes.rifa_party_path(@conn, :create)) %>
    <span><%= link "Back", to: Routes.rifa_party_path(@conn, :index) %></span>
</section>

