<section class="prize__container">

    <div class="prize__items">
        <h1>Sorteie um número</h1>
        <div id="spinner" class="spinner"></div>
        <button class="btn_spinner">Sortear</button>
    </div>

</section>

<div id="modal" class="modal">

    <div class="modal-content">
      <span class="close">&times;</span>
      <h3>Número Sorteado:</h3>
      <p id="number"></p>
      <h3>Nome do Ganhador:</h3>
      <p id="#owner"></p>
    </div>

</div>
