@import "./global.css";


.register__container {
    display: flex;
    width: 100%;
    height: 100vh;
    flex-wrap: wrap;
}

.register__form {
    display: flex;
    justify-content: center;
    flex: 1 1 50%;
}

.register__main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 4rem;
}

.register__component {
    width: 50%;
}

.register__imagem {
    display: flex;
    flex: 1 1 50%;
}

